* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px; /* 1rem will equal this now */
  line-height: 1.6;
  font-family: sans-serif; /* add google fonts */
}

body {
  /* background: url("https://drive.google.com/uc?export=view&id=13MdevlT6snYhCvoHxRcWdBnw_ebfijg4") center fixed repeat-x; /*log in background*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #00bfa2;
}

.brandLogo {
  width: 20rem;
  margin-top: 10px;
}

a {
  /* display: inline-flex; */
  float: left;
  text-decoration: none;
  color: #fff;
}

.navLi {
  display: inline-grid;
  float: left;
  background: none;
  border: none;
}

.navBtn {
  /* display: none; */
}

.btn {
  border-radius: .4rem;
  margin: 0.5rem;
  padding: 1%;
  height: 3rem;
  width: auto;
  font-size: 1rem;
}

.greenBtn {
  background-color: #00bfa2;
  color: #fff;
}


.photoContainer {
  background-color: rgba(10, 10, 10, 0.5);
  /* border: 1px solid black; */
  border-radius: 0.5rem;
  /* box-shadow: 2px 2px 3px black; */
  width: 320px;
  height: auto;
  margin: 1rem;
}

#canvas {
  display: none;
}

.camera {
  width: 340px;
  display: block;
}

.output {
  width: 340px;
  display: block;
}

#cameraBtn {
  display: block;
  /* position: relative; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2rem;
  /* bottom:32px; */
  background-color: #fff;
  /* border-radius: 0.3rem; */
  border: 0.2rem solid #00bfa2;
  /* box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2); */
  font-size: 0.7rem;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: #00bfa2;
  height: 2rem;
  width: auto;
}

.contentarea {
  font-size: 1rem;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 90rem;
}

th {
    display: table-cell;
    font-weight: bold;
    text-align: center;
    vertical-align: center;
}

.list{
    background: #fff;
    max-width: 100rem;
    margin: 2.5rem 3rem;
    padding:  1.5rem 2.5rem;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 1rem;
    background: #f6f6f6;
    color: #555;
    position: relative;
    border-bottom: 0.1rem solid #e6e6e6;
    height: auto;
}

li:nth-child(even){
    padding: 1rem;
    background: #f2f2f2;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 1rem;
    margin-top: .5rem;
    color: #999;
}

li div{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255,255,255,0.6);
    width: 3rem;
    height: auto;
    text-align: center;
    padding: 2rem 0;
    font-weight:  bold;
    cursor:  pointer;
    color: #00bfa2
}

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 0.1rem solid #eee;
    margin: 0 1%;
    padding: 1rem;
    display: block;
    box-sizing: border-box;
    font-size: 1.5rem;
}

form input:focus{
    outline: none;
    border-bottom: 0.2rem solid #88236f;
    padding-bottom: 0´5rem;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

select {
    /* -webkit-appearance: menulist; */
    /* box-sizing: border-box; */
    /* align-items: center; */
    /* white-space: pre; */
    /* -webkit-rtl-ordering: logical; */
    color: black;
    background-color: white;
    cursor: default;
    border-radius: : 0.5rem;
    border-width: 0.1rem;
    border: solid #eee;
    /* border-color: initial;
    border-image: initial; */
    height: 2rem;
    width: 10rem;
    text-rendering: auto;
    /* color: initial; */
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    /* font: 400 13.3333px Arial; */
}

.hosts {
  float: left;
  margin: 0;
  border: 0;
  padding: 1rem;
  display: block;
  font-size: 1.5rem;
}
